<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.jonathanstroebele.alfred-pushover</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4CAE3596-46D2-48AB-8E10-D6421B1CC0B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDA504C9-FE69-4A1F-A133-7CC2D7292D4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>581F00E9-B5DB-43A8-8BA5-EE1FCDF5DE93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72A63135-07D5-4371-8D55-B13528F1C2D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>198B003D-E3BC-4BED-A545-04D8D131EC03</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EA8A3C6A-35A5-4451-82B0-1F1A008CB9BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BFEC2C6-04CE-40AE-98C2-621A9ECEF6FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBDD0BD4-E336-4DE7-99C4-611868218099</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72A63135-07D5-4371-8D55-B13528F1C2D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB54600-B4AB-494C-90FF-70753A1D5566</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA8A3C6A-35A5-4451-82B0-1F1A008CB9BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72A63135-07D5-4371-8D55-B13528F1C2D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBDD0BD4-E336-4DE7-99C4-611868218099</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDA504C9-FE69-4A1F-A133-7CC2D7292D4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDA504C9-FE69-4A1F-A133-7CC2D7292D4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>581F00E9-B5DB-43A8-8BA5-EE1FCDF5DE93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jonathan Ströbele</string>
	<key>description</key>
	<string>Send notificitions to your devices.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pushover</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>python3 pushover.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72A63135-07D5-4371-8D55-B13528F1C2D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pushover failed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2BB54600-B4AB-494C-90FF-70753A1D5566</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>push</string>
				<key>subtext</key>
				<string>Send the entered text to your Pushover devices</string>
				<key>text</key>
				<string>Pushover</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4CAE3596-46D2-48AB-8E10-D6421B1CC0B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:DEVICES}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>send to all devices</string>
						<key>uid</key>
						<string>198B003D-E3BC-4BED-A545-04D8D131EC03</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>581F00E9-B5DB-43A8-8BA5-EE1FCDF5DE93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>MESSAGE</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FDA504C9-FE69-4A1F-A133-7CC2D7292D4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pushc</string>
				<key>subtext</key>
				<string>Send your clipboard to your Pushover devices</string>
				<key>text</key>
				<string>Pushover clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5BFEC2C6-04CE-40AE-98C2-621A9ECEF6FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  return (the clipboard)
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FBDD0BD4-E336-4DE7-99C4-611868218099</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching your devices…</string>
				<key>script</key>
				<string>python3 select_device.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Send the entered text to your Pushover devices</string>
				<key>title</key>
				<string>Select device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EA8A3C6A-35A5-4451-82B0-1F1A008CB9BB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## USER_KEY

The User Key can be found on your Pushover dashboard.


## APP_TOKEN

Create a new Pushover application here https://pushover.net/apps/build.


## DEVICES

To allow you to push notifications to specific devices instead of all, enter the names of your devices separated by a comma (i.e. "ipad, android").


For the preview of images the [requests](https://docs.python-requests.org/en/master/user/install/#install) package is required.

## PREVIEW_REMOTE

If set to `1` will check if the submitted query is a URL and do a request to it and use HTML `&lt;title&gt;` to enhance the notification. In case of an image it will be saved locally and sent to Pushover as an attachment (see https://pushover.net/api#attachments).

## PREVIEW_LOCAL

If set to `1` will check if the submitted query is a valid local file and if it's an image, it will send it to Pushover as an attachment (see https://pushover.net/api#attachments).</string>
	<key>uidata</key>
	<dict>
		<key>2BB54600-B4AB-494C-90FF-70753A1D5566</key>
		<dict>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>4CAE3596-46D2-48AB-8E10-D6421B1CC0B6</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>581F00E9-B5DB-43A8-8BA5-EE1FCDF5DE93</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>5BFEC2C6-04CE-40AE-98C2-621A9ECEF6FC</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>72A63135-07D5-4371-8D55-B13528F1C2D0</key>
		<dict>
			<key>xpos</key>
			<integer>735</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>EA8A3C6A-35A5-4451-82B0-1F1A008CB9BB</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>FBDD0BD4-E336-4DE7-99C4-611868218099</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>FDA504C9-FE69-4A1F-A133-7CC2D7292D4D</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>APP_TOKEN</key>
		<string></string>
		<key>DEVICES</key>
		<string></string>
		<key>PREVIEW_LOCAL</key>
		<string>1</string>
		<key>PREVIEW_REMOTE</key>
		<string>1</string>
		<key>USER_KEY</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DEVICES</string>
		<string>APP_TOKEN</string>
		<string>USER_KEY</string>
	</array>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>http://jonathanstroebele.de</string>
</dict>
</plist>
